.DS_Store
dist/
requests.http
*.log
request_hole

## web folder
# dependencies
web/node_modules
web/.pnp
web/.pnp.js

# testing
web/coverage

# misc
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*